<div class="col">
  <h1>Tipos de Roles</h1>
  <button mat-button type="button" class="btn btn-outline-primary" routerLink="/crear_roles">
    <mat-icon>add_circle_outline</mat-icon> <span> Crear Rol</span>
  </button>
  <button mat-button type="button" class="btn btn-outline-secondary" routerLink="/asignar_rol">
    <mat-icon>assignment</mat-icon> <span> Asignar Rol</span>

  </button>
</div>

<div>
  <img src="../../assets/img/Logo_ValleHermoso.png"><h3>COMPLEJO TURÍSTICO VALLE HERMOSO</h3>
  <!-- Tabla de Roles -->
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let rol of rol">
        <th>{{rol.rol_id}}</th>
        <td>{{rol.rol_nombre}}</td>
        <td>{{rol.rol_descripcion}}</td>
        <td>{{rol.rol_estado}}</td>
        <td>
          <button mat-button class="btn btn-outline-warning" routerLink="/editar_roles/{{rol.rol_id}}">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
