h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.btn svg{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.btn span{
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.form-control{
    border-radius: 15px;
    border-color: rgb(36, 13, 238);
}
h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: -55px;
}
h4{
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
img{
    width: 130px;
    height: 100px;
}
.form-select{
    border-radius: 15px;
    border-color: rgb(44,216,44);
}