<div class="card">
    <div class="card-header">
        <h1>Editar rol</h1>
    </div>

    <div class="card-body">
        <form [formGroup]="formularioRoles" (ngSubmit)="modificarRoles()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input name="" type="text" class="form-control" formControlName="rol_nombre" id=""
                    aria-describedby="helpId" placeholder="Ingresar nombre">
            </div>

            <div class="mb-3">
                <label for="">Descripción</label>
                <input name="rol_descripcion" formControlName="rol_descripcion" type="text" class="form-control" id=""
                    placeholder="Ingresar dirección de domicilio">
            </div>

            <div class="mb-3">
                <label for="">Seleccione el estado</label>
                <select class="form-select form-select-sm" formControlName="rol_estado"
                    aria-label=".form-select-sm example">
                    <option value="" disabled selected> Seleccionar </option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>

            <div>

                <button mat-button type="submit" class="btn btn-outline-success">
                    <mat-icon>save</mat-icon> Guardar Datos
                </button>
            </div>
        </form>
    </div>

</div>