<div class="col">
    <h1>Lista de Submenús</h1>
</div>

<div>
    <img src="../../assets/img/Logo_ValleHermoso.png">
    <h3>COMPLEJO TURÍSTICO VALLE HERMOSO</h3>
    <br>
    <!-- Tabla de Submenus -->
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Tipo de Menú</th>
                <th scope="col">Submenú</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let submenu of submenus | paginate: { itemsPerPage: 15, currentPage: p }">
                <th>{{submenu.sm_id}}</th>
                <td>{{submenu.men_nombre}}</td>
                <td>{{submenu.sm_nombre}}</td>
                <td>{{submenu.sm_precio}}</td>
                <td>{{submenu.sm_descripcion}}</td>
                <td>
                    <button mat-button class="btn btn-outline-success" *ngIf="submenu.sm_estado=='Activo'"
                      (click)="inactivarSubmenus(submenu.sm_id)">
                      <i class="fa fa-toggle-on fa-lg"></i> Activo
                    </button>
                    <button mat-button class="btn btn-outline-danger" *ngIf="submenu.sm_estado=='Inactivo'"
                      (click)="activarSubmenus(submenu.sm_id)">
                      <i class="fa fa-toggle-off fa-lg"></i> Inactivo
                    </button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>