<div class="card">
    <div class="card-header">
        <h1>Crear evento</h1>
    </div>

    <div class="card-body">
        <form [formGroup]="formularioAforo" (ngSubmit)="enviarDatosA()">
            <div class="row input-group">
                <div class="col-sm-4">
                    <label for="" class="form-label">Nombre</label>
                    <input name="" type="text" class="form-control" id="" formControlName="sa_nombre"
                        aria-describedby="helpId" placeholder="Ingresar nombre">
                    <div class="alert-danger"
                        *ngIf="getEve_Nombre('eve_nombre')?.invalid && (getEve_Nombre('eve_nombre')?.touched || getEve_Nombre('eve_nombre')?.dirty)">
                        <div *ngIf="getEve_Nombre('eve_nombre')?.errors?.required">
                            Nombre es requerido.
                        </div>
                        <div *ngIf="getEve_Nombre('eve_nombre')?.errors?.minlength">
                            Mínimo 5 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-label">Capacidad</label>
                    <input name="" type="text" class="form-control" id="" formControlName="sa_capacidad"
                        aria-describedby="helpId" placeholder="Ingresar nombre">
                    <div class="alert-danger"
                        *ngIf="getEve_Nombre('eve_nombre')?.invalid && (getEve_Nombre('eve_nombre')?.touched || getEve_Nombre('eve_nombre')?.dirty)">
                        <div *ngIf="getEve_Nombre('eve_nombre')?.errors?.required">
                            Nombre es requerido.
                        </div>
                        <div *ngIf="getEve_Nombre('eve_nombre')?.errors?.minlength">
                            Mínimo 5 caracteres.
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            <div class="row input-group">
                <div class="col-sm-4">
                    <label for="" class="form-label">Seleccione la disponibilidad</label>
                    <select class="form-select form-select-sm" formControlName="sa_disponibilidad"
                        aria-label=".form-select-sm example">
                        <option value="" disabled selected> Seleccionar</option>
                        <option>Disponible</option>
                        <option>Ocupado</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-label">Seleccione el estado</label>
                    <select class="form-select form-select-sm" formControlName="sa_estado"
                        aria-label=".form-select-sm example">
                        <option value="" disabled selected> Seleccionar</option>
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
                    <div class="alert-danger"
                        *ngIf="getEve_Estado('sa_estado')?.invalid && (getEve_Estado('sa_estado')?.touched)">
                        <div *ngIf="getEve_Estado('sa_estado')?.errors?.required">
                            Por favor escoja un estado
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button type="submit" class="btn btn-outline-success">
                    <mat-icon>save</mat-icon> Guardar Datos
                </button>
                <button mat-button type="button" routerLink="/aforo" class="btn btn-outline-secondary">
                    <mat-icon>cancel</mat-icon> Cancelar
                </button>
            </div>
        </form>
    </div>

</div>
