<div class="col">
    <h1>Inventario de submenús de ventas</h1>
    <p></p>
    <div class="row">
        <div class="row input-group">
            <div class="col-sm-3">
                <label>Tipo de submenús</label>
                <select name="" id="" class="form-select" formControlName="sm_id">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let submenus of submenus" value="{{submenu.sm_id}}">
                        {{submenus.sm_nombre}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Fecha desde</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="ec_fechaDesde">
            </div>
            <div class="col-sm-2">
                <label for="">Fecha hasta</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="ec_fechaHasta">
            </div>
            <div class="col-sm-1">
                <label for=""> </label>
                <button mat-button class="btn btn-outline-primary" ><i
                        class="fa fa-search fa-lg"></i>
                    Filtrar</button>
            </div>
        </div>
    </div>
</div>