<div class="col">
    <h1>Inventario de submenús de ventas</h1>
    <p></p>
    <div class="row">
        <div class="row input-group">
            <div class="col-sm-3">
                <label>Tipo de submenús</label>
                <select class="form-select" [(ngModel)]="sm_id">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let submenus of submenus" value="{{submenus.sm_id}}">
                        {{submenus.sm_nombre}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label for="">Fecha desde</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="ec_fechaDesde">
            </div>
            <div class="col-sm-2">
                <label for="">Fecha hasta</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="ec_fechaHasta">
            </div>
            <div class="col-sm-1">
                <label for=""> </label>
                <button mat-button class="btn btn-outline-primary" (click)="mostrarTablaSubmenu()">
                    <i class="fa fa-search fa-lg"></i>
                    Filtrar</button>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br><br><br>
<div class="col" *ngIf="Inventario==true">
    <h3>Inventario</h3>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Cantidad Promedio</th>
                <th scope="col">Inventario</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td><strong>{{inventarioMenus}}</strong></td>
                <td><strong>{{inventarioMenus}}</strong></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h3>Tabla de eventos</h3>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Submenu</th>
                <th scope="col"># adultos</th>
                <th scope="col"># niños</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let inventarioSubmenuTabla of inventarioSubmenuTabla">
                <td>{{inventarioSubmenuTabla.ec_nombreCliente}}</td>
                <td>{{inventarioSubmenuTabla.ec_cedula}}</td>
                <td>{{inventarioSubmenuTabla.sm_nombre}}</td>
                <td>{{inventarioSubmenuTabla.na_numeroAdultos}}</td>
                <td>{{inventarioSubmenuTabla.nn_numeroNinios}}</td>
            </tr>
        </tbody>
    </table>
    <label for="">El numero de platos vendidos en adultos es: <strong>{{inventarioSubmenuAdulto}}</strong></label>
    <br>
    <label for="">El numero de platos vendidos en niños es: <strong>{{inventarioSubmenuNinio}}</strong></label>
    <br>
    <label for="">El promedio de venta semanal es: <strong>{{inventarioMenus}}</strong></label>
</div>
<br>