h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.form-label{
    font-size: 16px;
}
.form-control{
    border-radius: 15px;
    border-color: rgb(44,216,44);
}
.form-select{
    border-radius: 15px;
    border-color: rgb(44,216,44);
}