h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.btn svg{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.btn span{
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.form-control{
    border-radius: 15px;
    border-color: rgb(36, 13, 238);
}
.table{
    font-size: 22px;
}