<div class="col">
    <h1>Editar el aforo</h1>
</div>
<div>
    <form [formGroup]="editarAforo">
        <div class="row input-group">
            <div class="col-sm-4">
                <label for="" class="form-label">Ingrese el nombre</label>
                <input type="text" class="form-control" formControlName="sa_nombre" placeholder="500">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-label">Ingrese la capacidad</label>
                <input type="text" class="form-control" formControlName="sa_capacidad" placeholder="500">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success" (click)="updateAforo()">
            <mat-icon>save</mat-icon> Guardar Datos
        </button>
    </form>
</div>
<br>
