<div class="card">
    <div class="card-header">
        Agregar Menú
    </div>

    <div class="card-body">
        <form [formGroup]="editarEventos">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input name="eve_nombre" type="text" class="form-control" id="" formControlName="eve_nombre"
                    aria-describedby="helpId" placeholder="Ingresar nombre">
            </div>

            <div class="mb-3">
                <label for="">Descripción</label>
                <input name="eve_descripcion" type="text" class="form-control" id="" formControlName="eve_descripcion"
                    placeholder="Ingresar dirección de descripción">
            </div>

            <div class="mb-3">
                <label for="">Seleccione el estado</label>
                <select class="form-select form-select-sm" formControlName="eve_estado"
                    aria-label=".form-select-sm example">
                    <option value="" disabled selected> Seleccionar </option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>

            <div>

                <button mat-button type="submit" (click)="updateEventos()" class="btn btn-outline-success">
                    <mat-icon>save</mat-icon> Guardar Datos
                </button>
            </div>
        </form>
    </div>

</div>