h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.form-control{
    border-radius: 15px;
    border-color: rgb(36, 13, 238);
}
.col-sm-1{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.pdf{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    max-width: 250px;
}
.excel{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.titulo img{
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}